        <div class="one-page-static-wrap parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="static-text">
                    <h1>&nbsp;</h1>
                </div>
            </div>
        </div><!--static wrapper-->
        <section id="scenic" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Scenic</h3>
                            <span class="center-line"></span>
                        </div>
                    </div>
                </div><!--center heading row-->
                <div class="row">
                    <div class="col-md-7">
                        <p class="wow animated fadeInLeft">
                            Meridian in nestled at the north end of the Texas hill country in the center of Bosque County.  Home to Meridian Lake and <%= link_to "Meridian State Park", "https://tpwd.texas.gov/state-parks/meridian" %>, countless green pastures, and skies a plenty, Meridian boasts some of the best views this side of the DFW metroplex. Follow the Chisolm Trail and you'll find yourself in our backyard, enjoying the hilltop views and open skies.  Come see for yourself.
                        </p>
                    </div>
                    <div class="col-md-5" style="text-align: center;">
                        <%= image_tag 'MeridianSP-min.jpg', class: 'img-responsive' %>
                    </div>
                </div>
            </div><!--intro and skills-->
            </div>
        </section>
        <section class="parallax process-rounded" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Enjoy</h3>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-3 margin20">
                        <div class="process-box wow animated fadeInUp">
                            <%= link_to "<i class=\"fa fa-map-signs\"></i><h4>Get Here</h4>".html_safe,
                                "https://www.google.com/maps/dir//Meridian+TX+76665", target: "_blank" %>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box wow animated fadeInUp">
                            <%= link_to "<i class=\"fa fa-hotel\"></i><h4>Stay</h4>".html_safe,
                                "https://maps.google.com/?q=lodging+Meridian+TX", target: "_blank" %>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box wow animated fadeInUp">
                            <%= link_to "<i class=\"fa fa-shopping-bag\"></i><h4>Shop</h4>".html_safe,
                                "https://maps.google.com/?q=shopping+Meridian+TX", target: "_blank" %>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box wow animated fadeInUp">
                            <%= link_to "<i class=\"fa fa-cutlery\"></i><h4>Dine</h4>".html_safe,
                                "https://maps.google.com/?q=food+Meridian+TX", target: "_blank" %>
                        </div><!--process box-->
                    </div><!--process col-->
                </div>
            </div>
        </section><!--process rounded-->
        <!--about us end here-->
        <section id="services" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Our Services</h3>
                            <span class="center-line"></span>
                            <p>What We Do</p>
                        </div>
                    </div>
                </div><!--center heading row-->
                <div class="row">
                    <div class="col-md-4 margin20">
                        <div class="service-box wow animated fadeInLeft">
                            <h4><i class="fa fa-desktop"></i> Responsive Design</h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div><!--service box-->
                    </div><!--service-col-->
                    <div class="col-md-4 margin20">
                        <div class="service-box wow animated fadeInLeft">
                            <h4><i class="fa fa-image"></i> Parallax Background</h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div><!--service box-->
                    </div><!--service-col-->
                    <div class="col-md-4 margin20">
                        <div class="service-box wow animated fadeInLeft">
                            <h4><i class="fa fa-keyboard-o"></i> Easy to Customize </h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div><!--service box-->
                    </div><!--service-col-->
                </div><!--row-->
                <div class="divide40"></div>
                <div class="row">
                    <div class="col-md-4 margin20">
                        <div class="service-box wow animated fadeInLeft">
                            <h4><i class="fa fa-thumbs-o-up"></i> 24/7 Dedicated Support</h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div><!--service box-->
                    </div><!--service-col-->
                    <div class="col-md-4 margin20">
                        <div class="service-box wow animated fadeInLeft">
                            <h4><i class="fa fa-flag"></i> Font Awesome Icons</h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div><!--service box-->
                    </div><!--service-col-->
                    <div class="col-md-4 margin20">
                        <div class="service-box wow animated fadeInLeft">
                            <h4><i class="fa fa-text-height"></i> Google Fonts </h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div><!--service box-->
                    </div><!--service-col-->
                </div>
            </div><!--services -->
        </section><!--services -->

        <section id="portfolio" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Recent Work</h3>
                            <span class="center-line"></span>
                            <p>Lorem ipsum dollor sit Amet</p>
                        </div>
                    </div>
                </div><!--center heading row-->
                <div class="row">
                    <div class="col-md-12">
                        <div id="work-carousel" class="owl-carousel owl-spaced">
                            <div>
                                <a href="#">
                                    <div class="item-img-wrap ">
                                        <%= image_tag "visitor\/work-1.png", class: "img-responsive" %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "visitor\/work-2.png", class: "img-responsive" %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "visitor\/work-3.png", class: "img-responsive" %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "visitor\/work-5.png", class: "img-responsive" %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "visitor/work-6.png", class: "img-responsive" %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "visitor\/work-7.png", class: "img-responsive" %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                        </div>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section><!--#work-->
        <section class="testimonials parallax" data-stellar-background-ratio="0.5">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="testi-carousel" class="owl-carousel owl-spaced">
                            <div>
                                <h4>
                                    <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                                </h4>
                                <p>-Rakesh sharma</p>
                            </div><!--testimonials item like paragraph-->
                            <div>
                                <h4>
                                    <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                                </h4>
                                <p>-Rakesh sharma</p>
                            </div><!--testimonials item like paragraph-->
                            <div>
                                <h4>
                                    <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                                </h4>
                                <p>-Rakesh sharma</p>
                            </div><!--testimonials item like paragraph-->
                        </div>
                    </div>
                </div>
            </div>
        </section><!--testimonials-->
        <section id="team" class=" padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Our Team</h3>
                            <span class="center-line"></span>
                            <p>Lorem ipsum dollor sit Amet</p>
                        </div>
                    </div>
                </div>
                <div class="row">               
                    <div class="col-md-3 margin30">
                        <div class="default-wrap wow animated fadeInUp">
                            <div class="img">
                                <%= image_tag "visitor\/team-1.jpg", class: "img-responsive" %>
                            </div><!--person image-->
                            <div class="description">
                                <h4>July rayan</h4>
                                <span>manager</span>
                            </div><!--desrciption-->
                            <div class="hover-desc">
                                <h4>I am Narani</h4>
                                <p>
                                    Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                                </p>
                                <ul class="list-inline social-1">
                                    <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                                </ul>
                            </div>
                        </div><!--default-wrap-->
                    </div><!--team col-->
                    <div class="col-md-3 margin30">
                        <div class="default-wrap wow animated fadeInDown">
                            <div class="img">
                                <%= image_tag "visitor\/team-2.jpg", class: "img-responsive" %>
                            </div><!--person image-->
                            <div class="description">
                                <h4>July rayan</h4>
                                <span>manager</span>
                            </div><!--desrciption-->
                            <div class="hover-desc">
                                <h4>I am Narani</h4>
                                <p>
                                    Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                                </p>
                                <ul class="list-inline social-1">
                                    <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                                </ul>
                            </div>
                        </div><!--default-wrap-->
                    </div><!--team col-->
                    <div class="col-md-3 margin30">
                        <div class="default-wrap wow animated fadeInRight">
                            <div class="img">
                                <%= image_tag "visitor\/team-3.jpg", class: "img-responsive" %>
                            </div><!--person image-->
                            <div class="description">
                                <h4>July rayan</h4>
                                <span>manager</span>
                            </div><!--desrciption-->
                            <div class="hover-desc">
                                <h4>I am Narani</h4>
                                <p>
                                    Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                                </p>
                                <ul class="list-inline social-1">
                                    <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                                </ul>
                            </div>
                        </div><!--default-wrap-->
                    </div><!--team col-->
                      <div class="col-md-3 margin30">
                        <div class="default-wrap wow animated fadeInRight">
                            <div class="img">
                                <%= image_tag "visitor\/team-4.jpg", class: "img-responsive" %>
                            </div><!--person image-->
                            <div class="description">
                                <h4>July rayan</h4>
                                <span>manager</span>
                            </div><!--desrciption-->
                            <div class="hover-desc">
                                <h4>I am Narani</h4>
                                <p>
                                    Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                                </p>
                                <ul class="list-inline social-1">
                                    <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                                </ul>
                            </div>
                        </div><!--default-wrap-->
                    </div><!--team col-->
                </div><!--row-->
            </div>
        </section><!--#team-->
        <section id="price" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Our Pricing</h3>
                            <span class="center-line"></span>
                            <p>Lorem ipsum dollor sit Amet</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 margin20">
                        <div class="naran-pricing wow animated fadeInUp animated">
                            <div class="narani-price-title">
                                <h2><sup>$</sup>19<sub>/mo</sub></h2> 
                                <h3>Basic</h3>
                            </div>
                            <div class="narani-price-content">
                                <p>5 Email Accounts</p>
                                <p>10 GB Storage</p>
                                <p>Full Support</p>
                                <p>5 Team Member</p>
                            </div>
                            <div class="naran-pricing-btn">
                                <a href="#" class="btn border-black">Buy Now</a>
                            </div>
                        </div><!--narani-pricing-->
                    </div><!--pricing col-->                               
                    <div class="col-md-4 margin20">
                        <div class="naran-pricing wow animated fadeInUp animated">                        
                            <div class="narani-price-title popular-title">
                                <h2><sup>$</sup>29<sub>/mo</sub></h2> 
                                <h3>Pro</h3>
                                <span class="popular-tag">Popular</span>
                            </div>
                            <div class="narani-price-content">
                                <p>100 Email Accounts</p>
                                <p>100 GB Storage</p>
                                <p>Full Support</p>
                                <p>15 Team Member</p>
                            </div>
                            <div class="naran-pricing-btn">
                                <a href="#" class="btn btn-theme-bg btn-lg">Buy Now</a>
                            </div>
                        </div><!--narani-pricing-->
                    </div><!--pricing col-->

                    <div class="col-md-4 margin20">
                        <div class="naran-pricing wow animated fadeInUp animated">
                            <div class="narani-price-title">
                                <h2><sup>$</sup>49<sub>/mo</sub></h2> 
                                <h3>Business</h3>
                            </div>
                            <div class="narani-price-content">
                                <p>150 Email Accounts</p>
                                <p>200 GB Storage</p>
                                <p>Full Support</p>
                                <p>25 Team Member</p>
                            </div>
                            <div class="naran-pricing-btn">
                                <a href="#" class="btn border-black">Buy Now</a>
                            </div>
                        </div><!--narani-pricing-->
                    </div><!--pricing col-->             
                </div>
            </div>
        </section><!--#price-->
        <section id="news" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Latest from Blog</h3>
                            <span class="center-line"></span>
                            <p>Lorem ipsum dollor sit Amet</p>
                        </div>
                    </div>
                </div><!--center header-->
                <div class="row">
                    <div class="col-md-4 margin20">
                        <div class="post-wrap wow animated fadeInLeft animated">
                            <a href="#">
                                <div class="item-img-wrap">
                                    <%= image_tag "visitor\/work-7.png", class: "img-responsive" %>
                                    <div class="item-img-overlay">
                                        <span></span>
                                    </div>
                                </div>                       
                            </a><!--post link--> 
                            <div class="post-desc">
                                <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                                <p>
                                    Quisque ligulas ipsum, euismod atras vulputate <span class="text-color">iltricies</span> etri elit. Lorem ipsum dolor sit amet, consectetur.
                                </p>
                                <p><a href="#">Read More...</a></p>
                            </div><!--post-desc-->
                        </div><!-- post wrap-->
                    </div>
                    <div class="col-md-4 margin20">
                        <div class="post-wrap wow animated fadeInLeft animated">
                            <a href="#">
                                <div class="item-img-wrap">
                                    <%= image_tag "visitor\/work-5.png", class: "img-responsive" %>
                                    <div class="item-img-overlay">
                                        <span></span>
                                    </div>
                                </div>                       
                            </a><!--post link--> 
                            <div class="post-desc">
                                <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                                <p>
                                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. <span class="text-color">Lorem ipsum dolor</span> sit amet, consectetur.
                                </p>
                                <p><a href="#">Read More...</a></p>
                            </div><!--post-desc-->
                        </div><!-- post wrap-->
                    </div>
                    <div class="col-md-4 margin20">
                        <div class="post-wrap wow animated fadeInLeft animated">
                            <a href="#">
                                <div class="item-img-wrap">
                                    <%= image_tag "visitor\/work-8.png", class: "img-responsive" %>
                                    <div class="item-img-overlay">
                                        <span></span>
                                    </div>
                                </div>                       
                            </a><!--post link--> 
                            <div class="post-desc">
                                <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                                <p>
                                    Quisque ligulas ipsum, <span class="text-bg">euismod atras</span> vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                                </p>
                                <p><a href="#">Read More...</a></p>
                            </div><!--post-desc-->
                        </div><!-- post wrap-->
                    </div>
                </div>
            </div>
        </section><!--#news-->

        <section id="contact" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Contact us</h3>
                            <span class="center-line"></span>
                            <p>Lorem ipsum dollor sit Amet</p>
                        </div>
                    </div>
                </div><!--center header-->
                <div class="row">
                    <div class="col-md-7 margin30">
                        <h3 class="heading">Get In Touch</h3>
                        <div class="contact-form">
                            <form role="form">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="mail">Email</label>
                                    <input type="email" class="form-control" id="mail" required="">
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" rows="6" id="message" required=""></textarea>
                                </div>

                                <button type="submit" class="btn btn-theme-bg">Send Message</button>
                            </form><!--form-->
                        </div><!--contact-form-->
                    </div>
                    <div class="col-md-5">
                        <h3 class="heading">Address Info</h3>
                        <p>
                            Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.
                        </p>
                        <ul class="address-info list-unstyled">
                            <li><i class="fa fa-home"></i> Vaishali nagar, Jaipur, 302012</li>  
                            <li><i class="fa fa-phone"></i> +91 123456789</li>  
                            <li><i class="fa fa-envelope"></i> <a href="#">support@designmylife.com</a></li> 
                            <li><i class="fa fa-print"></i> 1234567595 9449</li>
                            <li><i class="fa fa-clock-o"></i>Monday - Friday : 9:30pm - 5:30pm</li>
                        </ul>  
                    </div>
                </div><!--contact detail-->
            </div>
        </section><!--#contact-->
        <section id="contact-text" class="padding-80 parallax" data-stellar-background-ratio="0.5">
            <div class="container text-center text-uppercase">
                <h1>We are waiting to hear from you </h1>
            </div>
        </section><!--contact text-->
        <!--gmap-->
        <div id="map-canvas" style="width:100%;height: 400px;"></div> 