        <div class="one-page-static-wrap parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="static-text">
                    <h1>A hidden gem at the top of the Texas hill country</h1>
                </div>
            </div>
        </div><!--static wrapper-->
        <section id="charming" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Charming</h3>
                            <span class="center-line"></span>
                            <p></p>
                        </div>
                    </div>
                </div><!--center header-->
                <div class="row">
                    <div class="col-md-4 margin20">
                        <div class="post-wrap wow animated fadeInLeft animated">
                            <a href="#">
                                <div class="item-img-wrap">
                                    <%= image_tag "visitor\/gathering.JPG", class: "img-responsive" %>
                                    <div class="item-img-overlay">
                                        <span></span>
                                    </div>
                                </div>                       
                            </a><!--post link--> 
                            <div class="post-desc">
                                <h4><a href="#">Community</a></h4>
                                <p>
                                    Community is the sronghold of our town.
                                </p>
                            </div><!--post-desc-->
                        </div><!-- post wrap-->
                    </div>
                    <div class="col-md-4 margin20">
                        <div class="post-wrap wow animated fadeInLeft animated">
                            <a href="#">
                                <div class="item-img-wrap">
                                    <%= image_tag "visitor\/store-front.JPG", class: "img-responsive" %>
                                    <div class="item-img-overlay">
                                        <span></span>
                                    </div>
                                </div>                       
                            </a><!--post link--> 
                            <div class="post-desc">
                                <h4><a href="#">Unique Small Town</a></h4>
                                <p>
                                    Small town store fronts and a unique experience on Main Street
                                </p>
                            </div><!--post-desc-->
                        </div><!-- post wrap-->
                    </div>
                    <div class="col-md-4 margin20">
                        <div class="post-wrap wow animated fadeInLeft animated">
                            <a href="#">
                                <div class="item-img-wrap">
                                    <%= image_tag "visitor\/cows-windmill.JPG", class: "img-responsive" %>
                                    <div class="item-img-overlay">
                                        <span></span>
                                    </div>
                                </div>                       
                            </a><!--post link--> 
                            <div class="post-desc">
                                <h4><a href="#">Rustic Beauty</a></h4>
                                <p>
                                    Let Meridian show you country life at it's finest.
                                </p>
                            </div><!--post-desc-->
                        </div><!-- post wrap-->
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonials parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                &nbsp;
            </div>
        </section>
        <section id="scenic" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Scenic</h3>
                            <span class="center-line"></span>
                        </div>
                    </div>
                </div><!--center heading row-->
                <div class="row">
                    <div class="col-md-7">
                        <p class="wow animated fadeInLeft">
                            Meridian in nestled at the north end of the Texas hill country in the center of Bosque County.  Home to Meridian Lake and <%= link_to "Meridian State Park", "https://tpwd.texas.gov/state-parks/meridian" %>, countless green pastures, and skies a plenty, Meridian boasts some of the best views this side of the DFW metroplex. Follow the Chisolm Trail and you'll find yourself in our backyard, enjoying the hilltop views and open skies.  Come see for yourself.
                        </p>
                    </div>
                    <div class="col-md-5" style="text-align: center;">
                        <%= image_tag 'MeridianSP-min.jpg', class: 'img-responsive' %>
                    </div>
                </div>
            </div><!--intro and skills-->
            </div>
        </section>
        <section class="bustling parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                &nbsp;
            </div>
        </section>
        <section id="bustling" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Bustling</h3>
                            <span class="center-line"></span>
                            <p>Hometown events are the life of our community.  From our <%= link_to "National Championship Barbecue Cookoff", "http://www.ncbcmeridian.com/" %> to holiday parades and festivities, there's always something going on in Meridian.  Come join the locals and other visitors experience Meridian.</p>
                        </div>
                    </div>
                </div><!--center heading row-->
                <div class="row">
                    <div class="col-md-12">
                        <div id="work-carousel" class="owl-carousel owl-spaced">
                            <div>
                                <a href="#">
                                    <div class="item-img-wrap ">
                                        <%= image_tag "visitor\/fire-truck-parade.JPG", class: "img-responsive" %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>
                                </a>
                                <div class="work-desc">
                                    <h5><a href="#">Parades</a></h5>
                                </div>
                            </div>
                            <div> 
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "visitor\/bbq.JPG", class: "img-responsive" %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <h5><a href="http://www.ncbcmeridian.com/">National BBQ Cookoff</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "visitor\/reading-time.JPG", class: "img-responsive" %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <h5><%= link_to "City Events", events_url, subdomiain: "www" %></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "visitor\/boots-up.JPG", class: "img-responsive" %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <h5><a href="#">Community Gatherings</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                        </div>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section>
        <!--about us end here-->
        <section id="historic" class="padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-header">
                            <h3 class="center-heading">Historic</h3>
                            <span class="center-line"></span>
                            <p></p>
                        </div>
                    </div>
                </div><!--center header-->
                <div class="row">
                    <div class="col-md-4 margin20">
                        <div class="post-wrap wow animated fadeInLeft animated">
                            <a href="#">
                                <div class="item-img-wrap">
                                    <%= image_tag "visitor\/clock-tower-left.JPG", class: "img-responsive" %>
                                    <div class="item-img-overlay">
                                        <span></span>
                                    </div>
                                </div>                       
                            </a><!--post link--> 
                            <div class="post-desc">
                                <h4><a href="#">Bosque County Courthouse</a></h4>
                                <p>
                                    As the county seat, Meridian is host to the pituresque Bosque County Courthouse.
                                </p>
                            </div><!--post-desc-->
                        </div><!-- post wrap-->
                    </div>
                    <div class="col-md-4 margin20">
                        <div class="post-wrap wow animated fadeInLeft animated">
                            <a href="#">
                                <div class="item-img-wrap">
                                    <%= image_tag "visitor\/chisolm-trail.JPG", class: "img-responsive" %>
                                    <div class="item-img-overlay">
                                        <span></span>
                                    </div>
                                </div>                       
                            </a><!--post link--> 
                            <div class="post-desc">
                                <h4><a href="#">On the Chisolm Trail</a></h4>
                                <p>
                                    People (and cattle) having been passing through Bosque County and Meridian for centuries on the Chisolm Trail.
                                </p>
                            </div><!--post-desc-->
                        </div><!-- post wrap-->
                    </div>
                    <div class="col-md-4 margin20">
                        <div class="post-wrap wow animated fadeInLeft animated">
                            <p> Meridian is as historic as it is beautiful. On your way down the Chisolm Trail you'll pass through and see that our community is home to the historic Bosque County Courthouse, First National Bank building, among <%= link_to "several other historic landmarks and buildings", "https://en.wikipedia.org/wiki/National_Register_of_Historic_Places_listings_in_Bosque_County,_Texas" %>.</p>
                        </div><!-- post wrap-->
                    </div>
                </div>
            </div>
        </section>
        <section id="get-here" class="parallax process-rounded" data-stellar-background-ratio="0.5">
            <div class="container text-center text-uppercase">
                <h1> When will you get here?</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 margin20">
                        <div class="process-box wow animated fadeInUp">
                            <%= link_to "<i class=\"fa fa-map-signs\"></i><h4>Get Here</h4>".html_safe,
                                "https://www.google.com/maps/dir//Meridian+TX+76665", target: "_blank" %>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box wow animated fadeInUp">
                            <%= link_to "<i class=\"fa fa-hotel\"></i><h4>Stay</h4>".html_safe,
                                "https://maps.google.com/?q=lodging+Meridian+TX", target: "_blank" %>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box wow animated fadeInUp">
                            <%= link_to "<i class=\"fa fa-shopping-bag\"></i><h4>Shop</h4>".html_safe,
                                "https://maps.google.com/?q=shopping+Meridian+TX", target: "_blank" %>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box wow animated fadeInUp">
                            <%= link_to "<i class=\"fa fa-cutlery\"></i><h4>Dine</h4>".html_safe,
                                "https://maps.google.com/?q=food+Meridian+TX", target: "_blank" %>
                        </div><!--process box-->
                    </div><!--process col-->
                </div>
            </div>
        </section><!--contact text-->
        <div class="divide40"></div>

        <!--gmap-->
        <div id="map-canvas" style="width:100%;height: 400px;"></div> 