<article class="events-item page-row has-divider clearfix">
    <div class="date-label-wrapper col-md-1 col-sm-2">
        <p class="date-label">
            <span class="month"><%= event.abbreviated_month %></span>
            <span class="date-number"><%= event.day_date %></span>
        </p>
    </div><!--//date-label-wrapper-->
    <div class="details col-md-11 col-sm-10">
        <h3 class="title"><%= event.title %></h3>
        <p class="meta">
            <span class="time">
                <i class="fa fa-clock-o"></i><%= event.time %>
            </span>
            <% if event.place.present? %>
            <span class="location">
                <%= link_to "<i class=\"fa fa-map-marker\"></i> #{event.place_name}".html_safe, "https://maps.google.com?q=#{event.place_name}+#{event.place_address}", target: "_blank" %>
            </span>
            <% end %>
        </p>
        <p class="desc"><%= event.message %></p>
    </div><!--//details-->
</article><!--//events-item-->