<div class="content container">
    <div id="promo-slider" class="slider flexslider">
        <ul class="slides">
            <!--- should be modularized for admin modification -->
            <li style="background: url(<%= asset_path "MeridianSP-min.jpg" %>); background-size: cover; background-repeat: no-repeat; background-position: 2%">
                <p class="flex-caption">
                    <span class="main" >Discover Meridian</span>
                    <br />
                    <span class="secondary clearfix">
                        The hidden gem at the top of the hill country
                    </span>
                </p>
            </li>
        </ul><!--//slides-->
    </div><!--//flexslider-->
    <% unless @news_items.nil? %>
    <section class="news">
        <h1 class="section-heading text-highlight"><span class="line">Latest News</span></h1>     
        <div class="carousel-controls">
            <a class="prev" href="#news-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
            <a class="next" href="#news-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
        </div><!--//carousel-controls--> 
        <div class="section-content clearfix">
            <div id="news-carousel" class="news-carousel carousel slide">
                <div class="carousel-inner">
                    <%= render 'news_items' %>
                </div><!--//carousel-inner-->
            </div><!--//news-carousel-->  
        </div><!--//section-content-->     
    </section><!--//news-->
    <% end %>
    <div class="row cols-wrapper">
        <%= render "events" %>
        <div class="col-md-6">
            <section class="video">
                <h1 class="section-heading text-highlight"><span class="line">Meridian State Park</span></h1>
                <div class="section-content">    
                   <div id="videos-carousel" class="videos-carousel carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">        
                                <iframe class="video-iframe" src="https://www.youtube.com/embed/yMkL0qEGnek?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                            </div><!--//item-->
                        </div><!--//carousel-inner-->
                   </div><!--//videos-carousel-->                            
                    <p class="description">Meridian State Park is home to a gorgeous lake and offers a variety of outdoor activities - <%= link_to "State Park Website", "https://tpwd.texas.gov/state-parks/meridian" %></p>
                </div><!--//section-content-->
            </section><!--//video-->
        </div>
        <div class="col-md-3">
            <section class="links">
                <h1 class="section-heading text-highlight"><span class="line">Quick Links</span></h1>
                <div class="section-content">
                <p><%= link_to "<i class=\"fa fa-caret-right\"></i>Pay Water Bill".html_safe, "https://www.officialpayments.com/control/opay.srv?action=pc_main&type=Local&continue_main.x=yes" %></p>
                <p><%= link_to "<i class=\"fa fa-caret-right\"></i>Community Calendar".html_safe, "pages/calendar" %></p>
                <% if @quick_links.present? %>
                    <% @quick_link.each do |quick_link| %>
                    <p><%= link_to "<i class=\"fa fa-caret-right\"></i>#{quick_link.text}".html_safe, quick_link.path %></p>
                    <% end %>
                <% end %>
                </div><!--//section-content-->
            </section><!--//links-->
            <section class="public_notices">
                <h1 class="section-heading text-highlight"><span class="line"> <%= link_to "Public Notices", public_notices_path %></span></h1>
                <div class="carousel-controls">
                    <a class="prev" href="#testimonials-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                    <a class="next" href="#testimonials-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                </div><!--//carousel-controls-->
                <div class="section-content">
                    <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
                        <div class="carousel-inner">
                            <%= render @public_notices  if @public_notices.present? %>
                        </div><!--//carousel-inner-->
                    </div><!--//testimonials-carousel-->
                </div><!--//section-content-->
            </section><!--//testimonials-->
        </div><!--//col-md-3-->
    </div><!--//cols-wrapper-->
</div><!--//content-->