<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">Water/Garbage</h1>
        </header> 
        <div class="page-content">
            <div class="row page-row">
                <div class="course-wrapper col-md-8 col-sm-7">                         
                    <article class="course-item">
                        <div class="featured-image page-row">
                            <%= image_tag @water_garbage.image.asset_url, class: "img-responsive" unless @water_garbage.image.asset.url.nil? %>
                        </div>
                        <div class="tabbed-info page-row">
                            <ul class="nav nav-tabs">
                              <li class='active'><a href="#water" data-toggle="tab">Water</a></li>
                              <li><a href="#garbage" data-toggle="tab">Garbage</a></li>
                              <li><a href="#payment" data-toggle="tab">Payment</a></li>
                              <li><a href="#contact" data-toggle="tab">Service Request</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="water">
                                    <%= @water_garbage.water_content.html_safe if @water_garbage.water.present? %>
                                </div>
                                <div class="tab-pane" id="garbage">
                                    <%= @water_garbage.garbage_content.html_safe if @water_garbage.garbage.present? %>
                                </div>
                                <div class="tab-pane" id="payment">
                                    <%= @water_garbage.payment_content.html_safe if @water_garbage.payment.present? %>
                                </div>
                                <div class="tab-pane" id="contact">
                                    <p>Request new service</p>
                                    <%= render 'flashes' %>
                                    <%= render 'contact_form' %>
                                </div>
                            </div>
                    </article>
                </div>
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page--> 
    </div><!--//content-->

