<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left"><%= @organization.members_collection_name %></h1>
        </header> 
        <div class="page-content">
            <div class="row page-row">
                <div class="team-wrapper col-md-7 col-sm-7">
                    <p><%= @organization_page.content_text.html_safe unless @organization_page.nil? %></p>
                    <div style="margin-top: 15px;">
                        <%= render @members %>
                    </div>
                </div><!--//team-wrapper-->
                <aside class="page-sidebar  col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">      
                    <% if @next_meeting.present? %>
                    <section class="widget has-divider" style="padding: 12px;">
                        <h3 class="title"><%= @next_meeting.date > Date.current ? 'Next' : 'Most Recent' %> <%= @organization.members_collection_name.titleize %> Meeting</h3>
                        <h5><%= @next_meeting.display_date %></h5>
                        <%= link_to "<i class=\"fa fa-download\"></i>Download Agenda".html_safe, @next_meeting.agenda.asset.url, class: "btn btn-theme btn-sm" unless @next_meeting.agenda.asset.url.nil? %>
                    </section><!--//widget-->
                    <% end %>
                    <% if @year_meetings.any? %>
                    <div class="panel panel-theme">
                        <div class="panel-heading"><%= "#{Date.current.year} Meetings" %></div>
                        <div class="table-responsive">                      
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Agenda</th>
                                        <th>Minutes</th>
                                    </tr>
                                </thead>
                                <tbody>
                    <% @year_meetings.each do |meeting| %>
                                    <tr>
                                        <td><%= meeting.display_date %></td>
                                        <td><%= link_to "<i class='fa fa-download'></i> Download".html_safe, meeting.agenda.asset.url if meeting.agenda.asset.present? %></td>
                                        <td><%= link_to "<i class='fa fa-download'></i> Download".html_safe, meeting.minutes.asset.url if meeting.minutes.asset.present? %></td>
                                    </tr>
                    <% end %>
                                </tbody>
                            </table><!--//table-->
                        </div><!--//table-responsive-->
                    </div>
                    <% end %>
                </aside>
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page--> 
</div><!--//content-->