<ul class="nav navbar-nav">
    <li class="active nav-item"><a href="index.html">Home</a></li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">City <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
        <% @organizations.each do |organization| %>
            <li><%= link_to organization.name, organization_path(organization) %></li>
        <% end %>
            <li><a href="http://www.meridianpd.com">Police</a></li>
            <li><a href="https://www.facebook.com/meridianvfd/">Fire</a></li>
            <li><%= link_to "Library", pages_slug_path("library") %></li>
            <li><%= link_to "Water/Garbage", pages_slug_path("water garbage") %></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Community <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li><%= link_to "Community Organizations", community_organizations_path %></a></li>
            <li><a href="/pages/calendar">Community Calendar</a></li>
            <li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">About <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
            <li><a href="history">History</a></li>
            <li><a href="http://www.bosquecounty.us" target="_blank">Bosque County</a></li>
            <li><a href="https://www.meridianisd.org" target="_blank">Education</a></li>
        </ul>
    </li>
    <li class="nav-item"><%= link_to "Contact", new_contact_path %></li>
</ul>