<section class="bread-wrap">
    <div class="container">
        <div class="row">
                <h4>Meet the Mayor</h4>
                <br>
                <div class="col-md-4 margin30">
                    <div class="default-wrap">
                        <div class="img">
                            <%= image_tag "daniel_y.jpg", class: "img-responsive", alt: "Mayor Daniel Yguerabide" %>
                        </div><!--person image-->
                        <div class="description">
                            <h4>Daniel Yguerabide</h4>
                            <span>Mayor</span>
                        </div><!--desrciption-->
                        <div class="hover-desc" style="background-color: #787F96 !important; color: #f5f4f4 !important;">
                            <h4><i>Working for a better Meridian</i></h4>
                            <p>
                                Mayor Yguerabide also serves our community as the current Director of Bands for Crawford I.S.D. and has a history of serving the community of Meridian in several positions, such as.. 
                            </p>
                            <ul>
                                <li>Former Meridian City Councilor (2014-2016)</li>
                                <li>Meridian Parks & Recreation Co-Organizer</li>
                                <li>Former Bosque CPS Board-member</li>
                                <li>Member of The Leadership Institute</li>
                            </ul>
                             <ul class="list-inline social-1">
                                <li><a href="https://www.facebook.com/pg/Daniel-Yguerabide-Mayor-of-Meridian-250430148748201/about/?ref=page_internal"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope-square" data-toggle="tooltip" title="" data-original-title="Email" data-placement="top"></i></a></li>
                            </ul>
                        </div>
                    </div><!--default-wrap-->
                </div><!--team col-4-->

                <!-- # <span><%= @city_council.meet_mayor.content %></span> -->
                <!-- <img src="@city_council.mayor_image.asset.url" alt="#{}"> -->
            </div>



            <!-- <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>team</li>
                </ol>
            </div> -->
                <!--breadcrumb-->


        </div>
    </div>
</section><!--.bread-wrap-->


<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Meet Our valuable team</h3>
            <p>
                Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.
            </p>
        </div>
    

    </div><div class="divide60"></div>
    <div class="row">               
        <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <%= image_tag "elizabeth_d.jpg", class: "img-responsive", alt: "Elizabeth 'Liz' Davis" %>
                </div><!--person image-->
                <div class="description">
                    <h4>Elizabeth 'Liz' Davis</h4>
                    <span>District 1</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4><i>Working for a better Meridian</i></h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->
        <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <%= image_tag ".jpg", class: "img-responsive", alt: "Ryan Nieuwenhuis" %>
                </div><!--person image-->
                <div class="description">
                    <h4>Ryan Nieuwenhuis</h4>
                    <span>District 1</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4>Working for a better Meridian</h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->
        <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <%= image_tag ".jpg", class: "img-responsive", alt: "Shawn Stauffer" %>
                </div><!--person image-->
                <div class="description">
                    <h4>Shawn Stauffer</h4>
                    <span>District 1</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4>Working for a better Meridian</h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->

        <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <%= image_tag ".jpg", class: "img-responsive", alt: "Angie Buck" %>
                </div><!--person image-->
                <div class="description">
                    <h4>Angie Buck</h4>
                    <span>District 1</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4>Working for a better Meridian</h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->

        <div class="col-md-4 margin30">
            <div class="default-wrap">
                <div class="img">
                    <%= image_tag ".jpg", class: "img-responsive", alt: "Jackye Hatley" %>
                </div><!--person image-->
                <div class="description">
                    <h4>Jackye Hatley</h4>
                    <span>District 1</span>
                </div><!--desrciption-->
                <div class="hover-desc">
                    <h4>Working for a better Meridian</h4>
                    <p>
                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </p>
                     <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                </div>
            </div><!--default-wrap-->
        </div><!--team col-->

    
    </div><!--row-->
    </div><!--row-->
</div>
